.logo {
  display: flex;
  align-items: center;
  gap: var(--space);
  text-decoration: none;
  padding: var(--space-4x);
  margin-left: calc(var(--space-4x) * -1);
  color: var(--clr-light);
  transition: color var(--transition);
}

.logo:hover {
  color: var(--clr-white);
}