/* 
	Font face
*/

@font-face {
  font-family: "N27";
  src: url("./fonts/n27-regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "N27";
  src: url("./fonts/n27-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

/* 
	Minimal CSS resets
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
}

/* 
  Design System
*/

:root {
  /* Colors */
  --clr-white: #fff;
  --clr-black: #000;
  --clr-light: hsl(210deg 10% 90%);
  --clr-light-shade: hsl(210deg 10% 50%);
  --clr-dark: rgb(13, 15, 18);
  --clr-dark-tint: hsl(210deg 15% 10%);
  --clr-accent: #bcff2f;
  --clr-accent-shade: #a4f200;
  --clr-success: #0E9F6E;

  /* Font Weights */
  --fw-regular: 400;
  --fw-bold: 600;

  /* Font Sizes */
  --fs-s: 0.8rem;
  --fs-m: 1rem;
  --fs-l: 1.5rem;
  --fs-xl: 2rem;

  /* Spacing */
  --space: 4px;
  --space-2x: 8px;
  --space-4x: 16px;
  --space-8x: 32px;
  --space-16x: 64px;
  --space-24x: 96px;
  --space-32x: 128px;
  --space-48x: 192px;
  --space-64x: 256px;

  --space-gap: 24px;
  --space-gap-half: 12px;
  --space-gap-quarter: var(--space-2x);

  --header-height: var(--space-24x);

  --page-margin: var(--space-gap);
  --page-width: 1200px;
  --page-width-with-margin: calc(
    var(--page-width) + calc(2 * var(--page-margin))
  );

  /* Border Radius */
  --r4: 4px;
  --r8: 8px;
  --r12: 12px;
  --r24: 24px;
  --r48: 48px;

  /* Shadows */
  --shadow-shiny: 0 0 80px rgb(192 219 255 / 48%),
    0 0 32px rgb(65 120 255 / 24%);

  /* Transitions */
  --transition: 0.3s ease-in-out;
}

@media (min-width: 768px) {
  :root {
    --fs-s: 0.9rem;
    --fs-m: 1.125rem;
    --fs-xl: 2.25rem;
    --page-margin: calc(var(--space-gap) * 2);
  }
}

/*
  Global styles
*/

body {
  color: var(--clr-light);
  background-color: var(--clr-dark);
  font-family: N27, system-ui, Avenir, Helvetica, Arial, sans-serif;
  overflow-x: clip;
}

button {
  border: none;
  cursor: pointer;
}

ol,
ul {
  list-style: none;
}

.fullWidth {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
